
<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/imagenes/logo-onemi.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu de Opciones</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Inicio
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/gcontenido">
      <mat-icon>edit</mat-icon> Gestion del contenido
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/geo">
        <mat-icon>pin_drop</mat-icon> GIS
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/institucional">
      <mat-icon>home</mat-icon> Inicio Institucional </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/usuario">
      <mat-icon>home</mat-icon> Inicio Usuario </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/gcontenido">
      <mat-icon>edit</mat-icon> Gestion del contenido
    </a>

    <a mat-list-item>
      <mat-icon>edit</mat-icon> Link 6
    </a> -->


    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/map">
      <mat-icon>home</mat-icon> map
    </a> -->

  </mat-nav-list>
