<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Acerca De</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="row">

            <div class="col-7 p-3">
                <h2 class="text-center">Quienes somos</h2>
                <p class="p-3">
                    El aluvión de Villa Santa Lucía fue un desastre natural ocurrido en el sur de Chile la mañana del 16 de diciembre de 
                    2017 en la localidad del mismo nombre, ubicada en la comuna de Chaitén, Región de Los Lagos. El hecho provocó la muerte 
                    de 21 personas y la desaparición de otra.​​​​ El aluvión de Villa Santa Lucía fue un desastre natural ocurrido en el sur de 
                    Chile la mañana del 16 de diciembre de 2017 en la localidad del mismo nombre, ubicada en la comuna de Chaitén, Región de
                    Los Lagos. El hecho provocó la muerte de 21 personas y la desaparición de otra.​​​​
                </p>
        </div>

        <div class="col-5  p-2 text-center">
            <img src="{{img}}" class="card-img-top"/>   
        </div>

        </div>
    </div>
</div>