<div class="container-fluid page text-center">
  <div class="d-flex page__box p-3 mt-2">Perfil Onemi </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="row">
      <div class="col-12">
        <app-caarousel>
        </app-caarousel>
      </div>
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

      </div>
      <button type="submit" class="btn btn-primary mb-2">Responder</button>
    </form>
</div>



  </div>
</div>
