<div class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Ranking de Jugadores</mat-card-title>
          <mat-card-subtitle>Listado de mejores usuarios por dificultad </mat-card-subtitle>
        </mat-card-header>
        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Facil
                <mat-icon>star</mat-icon>
              </ng-template>
              <mat-card class="example-card">
                <mat-card-header>
                  <img mat-card-avatar class="example-header-image" src = "https://material.angular.io/assets/img/examples/shiba1.jpg">
                  <mat-card-title>Nombre</mat-card-title>
                  <mat-card-subtitle>Dificultad: Facil</mat-card-subtitle>
    
                  <div>
                    <h6>Puntaje</h6>
                    <h6>Respuestas Correctas</h6>
                  </div>
                <div style="text-align:right">
                    <h6>00:00</h6>
                    <h6>00/00</h6>
                </div>
                </mat-card-header>
              </mat-card>
              
            </mat-tab>
            
            <mat-tab>
              <ng-template mat-tab-label>
                Intermedio
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
              </ng-template>
              <mat-card class="example-card">
                <mat-card-header>
                  <img mat-card-avatar class="example-header-image" src = "https://material.angular.io/assets/img/examples/shiba1.jpg">
                  <mat-card-title>Nombre</mat-card-title>
                  <mat-card-subtitle>Dificultad: Intermedio</mat-card-subtitle>
    
                  <div>
                    <h6>Puntaje</h6>
                    <h6>Respuestas Correctas</h6>
                  </div>
                <div style="text-align:right">
                    <h6>00:00</h6>
                    <h6>00/00</h6>
                </div>
                </mat-card-header>
              </mat-card>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                Dificil
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
              </ng-template>
          
              <mat-card class="example-card">
                <mat-card-header>
                  <img mat-card-avatar class="example-header-image" src = "https://material.angular.io/assets/img/examples/shiba1.jpg">
                  <mat-card-title>Nombre</mat-card-title>
                  <mat-card-subtitle>Dificultad: Dificil</mat-card-subtitle>
    
                  <div>
                    <h6>Puntaje</h6>
                    <h6>Respuestas Correctas</h6>
                  </div>
                <div style="text-align:right">
                    <h6>00:00</h6>
                    <h6>00/00</h6>
                </div>
                </mat-card-header>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
          
    </mat-card>
    <br>
</div>

  