<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Comentarios</div>
    <div class="page__content shadow p-3 position-relative">
        <h5>Listado de comentarios</h5>
        <hr>
        <ol>
            <!-- <li *ngFor=" let com of myUser; let i = index ">
                - {{myData[0].comentarios[i].contenido}}
                - {{myData[0].comentarios[i].comentario_id}}
                - {{myData[0].comentarios[i].usuario_id}}

            </li> -->
            <!-- <li>{{myData[0].comentarios[0].contenido}}</li> -->

            <!-- <div class="shadow p-3"> -->


            <!-- REVISARRRR
               <app-viewcomentarios [id] ="this.w">
                </app-viewcomentarios>-->








                <!-- </div> -->

        </ol>
        <h5>Info Usuario</h5>
        <hr>
        <!-- <p *ngFor="let user of myUser; let i = index "> -->
            <!-- {{myUser[i].nombre}}</p> -->


    </div>
</div>
