.form{border-radius: 2px 2px;}
    .example-form {

      height: 100px;
      width: 40%;
    }

    .example-full-width {
      height: 100%;
      width: 100%;
    }

    .example-input {
      max-width: 100%;
      width: 100%;
    }
