

<div class=" shadow p-3 form">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2>{{puntoIntres.titulo}}</h2>
          <p>{{puntoIntres.descripcion}}</p>
          <app-menu [mPuntoIntres]="puntoIntres"></app-menu>
        </div>
    </div>
  </div>
  </div>




  <!--<div class=" shadow p-3 form">
    <div class="container">
      <div class="row">
        <div class="col">Column</div>
        <div class="col"><app-menu [mPuntoIntres]="puntoIntres"></app-menu></div>

    </div>
  </div>

    <h2>{{puntoIntres.titulo}}</h2>
    <p>{{puntoIntres.descripcion}}</p>
    <button (click)="toggleDisplay()" class="btn btn-primary">Contenido</button>
    <div  *ngIf="!isDisplay" >
      <app-menu [mPuntoIntres]="puntoIntres"></app-menu>
    </div>
  </div>


-->

